<!-- Navbar Start -->
<div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a href="{% url 'home' %}" class="navbar-brand px-lg-4 m-0">
            <h1 class="m-0 display-4 text-uppercase text-white">HAIRBEAUTY</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4">
                {% for nav in navbar %}
                {% if nav.enable %}
                <a href="{% url nav.name %}" class="nav-item nav-link">{{ nav.title }}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->