{% load static %}

<!-- Reservation Start -->
<div id="reservation" class="container-fluid my-5">
    <div class="container">
        <div class="reservation position-relative overlay-top overlay-bottom">
            <div class="row align-items-center">
                <div class="col-lg-6 my-5 my-lg-0">
                    <div class="p-5">
                        <div class="mb-4">
                            <h1 class="display-3 text-primary">30% OFF</h1>
                            <h1 class="text-white">Для Онлайн-Бронирования</h1>
                        </div>
                        <p class="text-white">Вам необходимо заполнить простую форму с Вашей информацией
                            и нажать на кнопку "Бронировать".<br>
                        </p>
                        <ul class="list-inline text-white m-0">
                            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Ваше имя, ведь нам надо к Вам
                                обращаться,
                            </li>
                            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Ваш телефон, ведь нам надо
                                будет подтвердить Ваше бронирование,
                            </li>
                            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Дату и время, когда Вы
                                планируете к нам прийти, ведь нам надо подготовиться к этому событию,
                            </li>
                            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Ваш комментарий, в случае,
                                если Вы желаете что-то спросить или сказать нам дополнительно
                            </li>
                        </ul>
                        <p class="text-white"><br>
                            Мы обязательно Вам перезвоним, чтобы уточнить и подтвердить Ваше бронирование.<br>
                            <strong>Мы ценим Вас и Ваше время!</strong>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-center p-5" style="background: rgba(51, 33, 29, .8);">
                        <h1 class="text-white mb-4 mt-5">Book Your Table</h1>
                        <form class="mb-5" action="" method="POST">

                            {% csrf_token %}
                            {{ reservation_form.as_p }}

                            <div>
                                <button class="btn btn-primary btn-block font-weight-bold py-3"
                                        type="submit"
                                        name="reservation_form_submit">
                                    Бронировать
                                </button>
                            </div>

                            {% include 'inc/_messages.html' with target="_reservation" %}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reservation End -->